body {
	background: #f5f3ef;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body, div, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.cheat-detail {
	background: #191919 fixed 100% 100%;
}

#navbar { 
	position: fixed;
	background: #000;
	background: rgba(0, 0, 0, 0.6);
	height: 40px;
	line-height: 40px;
	color: #999;
	width: 100%;
	filter: alpha(opacity = 60);
	z-index: 100;
}
#navbar a {
	color: #999;
	text-decoration: none;
	font-size: 14px;
	outline: none;
}
#navbar a:visited {
	color:#999;
}
#navbar a:hover {
	color:#fff;
}
#navbar a#logo {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin-right: 20px;
	margin-left: 15px;
}

.loading {
	margin: 0 auto;
	text-align: center;
	font-style: italic;
	font-size: 20px;
	color: #999;
	padding-top: 350px;
}
.content {
	padding-top: 45px;
	margin: 0 auto;
	display: none;
}

ol, ul  {
	list-style: none;
}

.board {
	border-radius: 8px;
	margin: 5px 8px;
	padding: 15px;
	width: 320px;
	color: #fff;
	background: #000;
}
.board-title {
	font-size: 28px;
	font-weight: bold;
	padding-right: 10px;
	margin-bottom: 5px;
	text-align: right;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
}
.board-card {
	margin-bottom: 15px;
	word-break: break-all;
}
.board-card a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	display: block;
}
.board-card a:hover {
	background: #ccc;
	color: #000;
}
.board-card-title{
	font-size: 16px;
	font-weight: bold;
	color: #f4fcbb;
}
.board-card h3.inactive {
	color: #666;
}
.board-card li.tip {
	color: #999;
	padding-left: 15px;
	font-size: 13px;
	font-style: italic;
}
.board-card li.inactive {
	color: #666;
	cursor: default;
}
.board-card li.inactive a {
	color: #666;
	cursor: default;
}
.board-card li.inactive a:hover {
	color: #666;
	background: none;
}